<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.data.mapper.DataMapper">

    <!-- 依次查询 -->
    <select id="selectData" parameterType="String" resultType="Data">
        SELECT * FROM `data_table`
        WHERE `id` = #{id}
    </select>

    <!-- 批量查询 -->
    <select id="batchSelectData" resultType="Data">
        SELECT * FROM `data_table`
        WHERE `id` IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!-- 依次插入或更新 -->
    <insert id="insertOrUpdateData" parameterType="Data">
        INSERT INTO `data_table` (`id`,`field1`,`field2`)
        VALUES (#{id},#{attr1},#{attr2})
            ON DUPLICATE KEY UPDATE `id` = VALUES(`id`), `field1` = VALUES(`field1`), `field2` = VALUES(`field2`)
    </insert>

    <!-- 批量插入或更新 -->
    <insert id="batchInsertOrUpdateData" parameterType="java.util.List">
        INSERT INTO `data_table` (`id`,`field1`,`field2`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.attr1},#{item.attr2})
        </foreach>
        ON DUPLICATE KEY UPDATE `id` = VALUES(`id`), `field1` = VALUES(`field1`), `field2` = VALUES(`field2`)
    </insert>

    <!-- 清空 -->
    <update id="clearData">
        TRUNCATE TABLE `data_table`
    </update>

</mapper>
